body{
    background-color: lavender;
    margin-left: 150px;
    margin-right: 150px;
}
h1 {
    font-family: arial;
    font-size: 250%;
    text-align: center;
    margin-bottom: 0px;
}
h2{
    margin-top: 0px;
    text-decoration: overline;
    font-weight: bold;
    text-align: center;
} 
h3{
    background-color:lightgray;
    font-size: 175%;
    font-family: sans-serif;
}
p {
    margin: 7px;
}
#zen-intro{
    margin-right: -50px;
    margin-left: -50px;
}
.intro h3{
    font-size: 125%;
    text-decoration: underline;
    width: 25   %;
}
#zen-summary{
    font-style: italic;
    margin-left: -100px;
    margin-right: -100px;
    background: grey;
    text-align: center;
}
#zen-summary p{
    display: inline;
}
#zen-supporting{
    height: 80%;
    background: darkgrey;
}
#zen-preamble{
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    text-align: left;
    background: grey;
}
footer a{
    padding-right: 50px;
    color: red;
}
footer a:hover {
    color: hotpink;
    }
.sidebar{
    background: lightgray;
    position: absolute;
}
.select{
    height: 5px;
}